body {
	font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

/* Top Section */

.top-section {
	background: #4e4e4e;
	padding: 1% 0 1% 0;
	margin-bottom: 1%;
	text-align: center;
	position: relative;
}

.contact-list {
	display: inline;
	margin: 0 1%;
	padding: 1%;
	color: white;
	font-size: 14px;
}

.contact-list:hover {
	color: #1199c3;
	text-decoration: none;
}

/* To change text color to white */

.text-white {
	color: white;
}

/* Header of the page with background image */

#header {
	background-image: url(../images/cover.jpg);
	background-color: #4e4e4e;
	color: white;
	padding: 10%;
	position: relative;
	background-size: cover;
	background-position: center center;
}

/* Contact Icons */

.contact-icons {
	font-size: 18px;
	color: white;
}

.contact-icons:hover {
	color: #1199c3;
}

/* Each Section containing information */

.section {
	background-color: #f3f3f3;
	padding: 0 2%;
}

/* Each box containing details in the section*/

.details {
	padding-bottom: 1%;
}

/* To dispay inline */

.skills-inline {
	display: inline;
}

.project-skills {
	margin-top: 5px;
}

.heading {
	margin: 2%;
}

.work-dates {
	margin-top: 0;
}

.section-titles{
	font-size: 16px;
}

.header-title {
	font-size: 26px;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: #1199c3;
}

#map {
	display: block;
	height: 100%;
}

#mapDiv {
	height: 400px;
	padding-bottom: 7%;
}

.footer-contact-list{
	text-align: center;
	background-color: #4e4e4e;
	padding: 0.3%;
	padding:10px;
}

.responsibility{
	padding-left:0;
}

.keyachievements{
	padding-left:0;
}

@media (max-width: 800px) {
	#mapDiv{
	display: none;
	}
	.lived-worked{
	display: none;
	}
	.contact-list{
		display: block;
	}
	.top-section{
		display: none;
	}
}

